@model CPanel.Models.CompanyProfileModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<!-- Load TinyMCE -->
    <script src="@Url.Content("~/Scripts/templatescripts/js/tiny-mce/jquery.tinymce.js")" type="text/javascript"></script>
@using (Html.BeginForm("Create", "CompanyProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="box round first">
        <h2>Create Company Profile</h2>
        <div class="block">
        <table id="tableId" cellpadding="10" cellspacing="10" width="100%" style="border-collapse: collapse;">
         <tr>
            <td class="tableTDcls">
            Company Profile In (English) *
            </td>
            <td class="tableTDcls"></td>
            <td class="tableTDcls">
            @Html.TextAreaFor(model => model.Company_Profile_Eng, new { @class = "tinymce" })
            @Html.ValidationMessageFor(model => model.Company_Profile_Eng)
            </td>
        </tr>
        <tr>
        <td class="tableTDcls">
            Company Profile In (Arabic) *
            </td>
            <td class="tableTDcls"></td>
            <td class="tableTDcls">
            @Html.TextAreaFor(model => model.Company_Profile_Ar, new { @class = "tinymce" })
            @Html.ValidationMessageFor(model => model.Company_Profile_Ar)
            </td>
        </tr>
        <tr>
        </table>
        <p>
            <input type="submit" value="Create"  class="btn btn-blue"/>
        </p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
   </div>
   </div>
}

<script type="text/javascript">
    setupTinyMCE();
</script>