@model CPanel.Models.DAL.Country

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="box round first">
        <h2>Edit Country</h2>
        <div class="block">

    <fieldset>
        <legend>Country</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ArName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArName)
            @Html.ValidationMessageFor(model => model.ArName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnName)
            @Html.ValidationMessageFor(model => model.EnName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>
        </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
